{% extends 'home.html' %}
{% load static %}

{% block body %}
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        {% include 'navbar.html' %}

        <!-- Main Sidebar Container -->
        {% include 'vtc/sidebar.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1><b>Sirio</b>Web</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'sweb:dashboard' %}">Inicio</a></li>
                                {% block breadcrumb %}
                                {% endblock %}
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            {% block content %}
            {% endblock %}
        </div>

        <!-- Footer -->
        {% include 'footer.html' %}
    </div>
    <!-- ./wrapper -->
{% endblock %}
