{% extends 'form.html' %}
{% load widget_tweaks %}

{% block contentform %}
    <div class="form-group">
        <label for="{{ form.codigo.name }}">{{ form.codigo.label }}<span
                class="text-danger"> *</span></label>
        {{ form.codigo | add_class:'form-control' }}
    </div>
    <div class="form-group">
        <label for="{{ form.descripcion.name }}">{{ form.descripcion.label }}<span
                class="text-danger"> *</span></label>
        {{ form.descripcion | add_class:'form-control' }}
    </div>
    <div class="form-group">
        <label for="{{ form.recibos.name }}">{{ form.recibos.label }}<span
                class="text-danger"> *</span></label>
        {{ form.recibos | add_class:'form-control' }}
    </div>
    <div class="form-group">
        <label for="{{ form.diasvto.name }}">{{ form.diasvto.label }}<span
                class="text-danger"> *</span></label>
        {{ form.diasvto | add_class:'form-control' }}
    </div>
{% endblock %}

{% block jscript2 %}
    <script>
        validar('{{ entity }}');
    </script>
{% endblock %}