{% extends 'form.html' %}

{% block javascript %}
    <script>
        validar({
                codigo: {required: true},
                descripcion: {required: true},
                recibos: {required: true},
                diasvto: {required: true},
            },
            {
                codigo: {required: "Introduzca un código"},
                descripcion: {required: "Introduzca una descripción"},
                recibos: {required: "Introduzca un valor"},
                diasvto: {required: "Introduzca un valor"},
            }
        );
    </script>

{% endblock %}