{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;"></th>
{#        <th scope="col" style="width: 10%;">#</th>#}
        <th scope="col" style="width: 10%;">Código</th>
        <th scope="col" style="width: 50%;">Descripción</th>
        <th scope="col" style="width: 15%;">Recibos</th>
        <th scope="col" style="width: 15%;">Vencimiento Factura</th>

    </tr>
{% endblock %}

{% block rows %}
    {% for fp in object_list %}
        <tr>
            <td>
                <a href="{% url 'sweb:formasdepago_edit' fp.id %}" type="button" class="btn btn-light btn-xs">
                    <i class="far fa-edit" title="Editar"></i>
                </a>
                <button type="button" class="btn btn-light btn-xs">
                    <i class="far fa-trash-alt" title="Borrar"></i>
                </button>
            </td>
{#            <td>{{ fp.id }}</td>#}
            <td>{{ fp.codigo }}</td>
            <td>{{ fp.descripcion }}</td>
            <td>{{ fp.recibos }}</td>
            <td>{{ fp.diasvto }}</td>
        </tr>
    {% endfor %}
{% endblock %}

<!-- Literal del botón para añdir registro
{% block data %}
Añadir Forma de Pago
{% endblock %}
