{% extends 'form.html' %}
{% load widget_tweaks %}

{% block contentform %}
    <div class="form-group">
        <label for="{{ form.codigo.name }}">{{ form.codigo.label }}<span
                class="text-danger"> *</span></label>
        {{ form.codigo | add_class:'form-control' }}
    </div>
    <div class="form-group">
        <label for="{{ form.descripcion.name }}">{{ form.descripcion.label }}<span
                class="text-danger"> *</span></label>
        {{ form.descripcion | add_class:'form-control' }}
    </div>
    <div class="form-group">
        <label for="{{ form.tiempoEstimado.name }}">{{ form.tiempoEstimado.label }}</label>
        {{ form.tiempoEstimado | add_class:'form-control' }}
    </div>
    {% if action != 'add' %}
    <div class="card card-light">
        <div class="card-header">
            <h6 class="card-title">Tiempos Específicos</h6>
        </div>
        <div class="card-body">
            <table id="dtable-buttons" class="table table-bordered table-hover display nowrap">
                <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Modelo</th>
                    <th>Modificación</th>
                    <th>Tiempo</th>
                </tr>
                </thead>

            </table>
        </div>
        <div class="card-footer">
            <a href="{{ add_url2 }}" class="btn btn-primary btn-flat">
                <i class="fas fa-plus"></i> Añadir {{ entity2 }}
            </a>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block otrosbotones %}
{% endblock %}

{% block jscript2 %}
    <script type="text/javascript">
        var icolumns = [
            {"data": "id"},
            {"data": "modelo"},
            {"data": "modifica"},
            {"data": "tiempo"},
        ]
        var ibuttons = '<a href="{{ edit_url2 }}edit/' + 'rowid' + '/" class="btn btn-light btn-xs"><i class="far fa-edit" title="Editar"></i></a> ';
        ibuttons += '<a href="{{ delete_url2 }}delete/' + 'rowid' + '/" class="btn btn-light btn-xs"><i class="far fa-trash-alt" title="Borrar"></i></a>';
        var iorder = [[1, 'asc']];
        var extrabuttons = true;
        initdtableserver(icolumns, ibuttons, iorder, extrabuttons)
    </script>
    <script type="application/javascript">
        validar('{{ entity }}');
    </script>
{% endblock %}