{% extends 'form.html' %}
{% load widget_tweaks %}

{% block contentform %}
    <input type="hidden" name="tipo_" value="formbase">
    <input type="hidden" name="action2" value="">
    <div class="row">
        {% if action == 'add' %}
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="{{ form.referencia.name }}">{{ form.referencia.label }}<span
                            class="text-danger"> *</span></label>
                    <div class="input-group">
                        {{ form.referencia | add_class:'form-control' }}
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary btn-flat btnTarifa">
                                <i class="fas fa-search"></i> Lista Precios
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="{{ form.referencia.name }}">{{ form.referencia.label }}</label>
                    {{ form.referencia | add_class:'form-control' }}
                </div>
            </div>
        {% endif %}
        <div class="col-sm-8">
            <div class="form-group">
                <label for="{{ form.descripcion.name }}">{{ form.descripcion.label }}<span
                        class="text-danger"> *</span></label>
                {{ form.descripcion | add_class:'form-control' }}
            </div>
        </div>
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" >
                        <label for="{{ form.proveedor.name }}">{{ form.proveedor.label }}<span
                        class="text-danger"> *</span></label>
                        {{ form.proveedor | add_class:'form-control' | attr:'style="width: 100%;"' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.existencias.name }}">{{ form.existencias.label }}</label>
                        {{ form.existencias | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.tarifa.name }}">{{ form.tarifa.label }}<span
                                class="text-danger"> *</span></label>
                        {{ form.tarifa | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.nuevaReferencia.name }}">{{ form.nuevaReferencia.label }}</label>
                        {{ form.nuevaReferencia | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codigoApro.name }}">{{ form.codigoApro.label }}<span
                                class="text-danger"> *</span></label>
                        {{ form.codigoApro | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codigoPromo.name }}">{{ form.codigoPromo.label }}</label>
                        {{ form.codigoPromo | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codigoUrgte.name }}">{{ form.codigoUrgte.label }}</label>
                        {{ form.codigoUrgte | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.unidadMedida.name }}">{{ form.unidadMedida.label }}</label>
                        {{ form.unidadMedida | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.familia.name }}">{{ form.familia.label }}</label>
                        {{ form.familia | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.ivaPieza.name }}">{{ form.ivaPieza.label }}<span
                        class="text-danger"> *</span></label>
                        {{ form.ivaPieza | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.unidadCompra.name }}">{{ form.unidadCompra.label }}</label>
                        {{ form.unidadCompra | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.unidadVenta.name }}">{{ form.unidadVenta.label }}</label>
                        {{ form.unidadVenta | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codigoContable.name }}">{{ form.codigoContable.label }}</label>
                        {{ form.codigoContable | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.unidadStock.name }}">{{ form.unidadStock.label }}</label>
                        {{ form.unidadStock | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.multiplo.name }}">{{ form.multiplo.label }}</label>
                        {{ form.multiplo | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.ubicacion.name }}">{{ form.ubicacion.label }}</label>
                        {{ form.ubicacion | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codAproPieza.name }}">{{ form.codAproPieza.label }}</label>
                        {{ form.codAproPieza | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.marca.name }}">{{ form.marca.label }}</label>
                        {{ form.marca | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codigoModelo.name }}">{{ form.codigoModelo.label }}</label>
                        {{ form.codigoModelo | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.stockSeguridad.name }}">{{ form.stockSeguridad.label }}</label>
                        {{ form.stockSeguridad | add_class:'form-control' | attr:'readonly'  }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.stockMinimo.name }}">{{ form.stockMinimo.label }}</label>
                        {{ form.stockMinimo | add_class:'form-control' | attr:'readonly'  }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.puntoPedido.name }}">{{ form.puntoPedido.label }}</label>
                        {{ form.puntoPedido | add_class:'form-control' | attr:'readonly'  }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.consumoMedio.name }}">{{ form.consumoMedio.label }}</label>
                        {{ form.consumoMedio | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {% if defclien == 'CITROEN' %}
                            <label for="{{ form.funcionCitroen.name }}">{{ form.funcionCitroen.label }}</label>
                            {{ form.funcionCitroen | add_class:'form-control' }}
                        {% else %}
                            <label for="{{ form.codigoFuncion.name }}">{{ form.codigoFuncion.label }}</label>
                            {{ form.codigoFuncion | add_class:'form-control' }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.panier.name }}">{{ form.panier.label }}</label>
                        {{ form.panier | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codigoObsoleto.name }}">{{ form.codigoObsoleto.label }}</label>
                        {{ form.codigoObsoleto | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codigoAbc.name }}">{{ form.codigoAbc.label }}</label>
                        {{ form.codigoAbc | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.familiaMarketing.name }}">{{ form.familiaMarketing.label }}</label>
                        {{ form.familiaMarketing | add_class:'form-control' | add_class:'select2bs4' | attr:'style="width: 100%;"' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.fechaUltimaCompra.name }}">{{ form.fechaUltimaCompra.label }}</label>
                        <input type="text" name="fechaUltimaCompra" class="form-control" readonly
                               value="{{ object.fechaUltimaCompra | date:"SHORT_DATE_FORMAT" | default_if_none:'' }}">
{#                        {{ form.fechaUltimaCompra | add_class:'form-control' | attr:'readonly'  }}#}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.fechaAlta.name }}">{{ form.fechaAlta.label }}</label>
                        {% if action == 'add' %}
                        <div class="input-group date" id="fecalta" data-target-input="nearest">
                            <div class="input-group-append" data-target="#fecalta" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                            {{ form.fechaAlta | add_class:'form-control' | add_class:'datetimepicker-input' | attr:'data-target:#fecalta' | attr:'data-inputmask-alias:datetime' | attr:'data-inputmask-inputformat:dd/mm/yyyy' | attr:'data-mask' }}
                        </div>
                        {% else %}
                            <input type="text" name="fechaAlta" class="form-control" readonly
                                 value="{{ object.fechaAlta | date:"SHORT_DATE_FORMAT" | default_if_none:'' }}">
{#                            {{ form.fechaAlta | date:"SHORT_DATE_FORMAT" | add_class:'form-control' | attr:'readonly'  }}#}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codigoCompetencia.name }}">{{ form.codigoCompetencia.label }}</label>
                        {{ form.codigoCompetencia | add_class:'form-control' | attr:'style="width: 100%;"' }}
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer"></div>
    </div>
    <div class="form-group">
        <label for="{{ form.observaciones.name }}">{{ form.observaciones.label }}</label>
        {{ form.observaciones | add_class:'form-control' }}
    </div>


{% endblock %}

{% block otrosbotones %}
    {% if object.codigoContable.codigo == '02' or object.codigoContable.codigo == '03' %}
    <button type="button" class="btn btn-info btn-flat btnTasas">
        <i class="fas fa-receipt"></i> Tasas
    </button>
    {% endif %}
{% endblock %}

{% block jscript2 %}
    {% include 'articulos/cre_tarifa.html' %}
    {% include 'articulos/cre_tasas.html' %}
    <script>
        $(function () {
            var table;
            $('[data-mask]').inputmask('dd/mm/yyyy', {'placeholder': 'dd/mm/aaaa'});
            $('#fecalta').datetimepicker({
                locale: 'es',
                format: 'L',
                autoClose: true,
            });
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4',
                language: 'es',
            });
            $('#id_proveedor').select2({
                theme: 'bootstrap4',
                language: 'es',
                placeholder: 'Seleccione un proveedor',
                minimumInputLength: 1,
                allowClear: true,
                ajax: {
                    url: window.location.pathname,
                    dataType: 'json',
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    data: function (params) {
                        var query = {
                            'term': params.term,
                            'action2': 'select2',
                            'tipo_': 'formbase',
                        }
                        return query;
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {id: item.id, text: item.text};
                            })
                        };
                    },
                 }
            });
            $('.btnTarifa').on('click', function () {
                var icolumns = [
                    {"data": "id"},
                    {"data": "referencia"},
                    {"data": "denominacion"},
                    {"data": "pvp"},
                ]
                var ibuttons = '<a href="#" rel="sel" class="btn btn-light btn-xs btnSelect"><i class="far fa-hand-pointer" title="Seleccionar"></i></a> ';
                var extrabuttons = false;
                var iorder = [[1, 'asc']];
                var tipo_ = 'listprecios'
                table = initdtableserver(icolumns, ibuttons, iorder, extrabuttons, tipo_);
                $('#tarifaModal').modal('show');
            });
            $('#dtable-buttons').on('click', '.btnSelect', function () {
                var tr = table.cell($(this).closest('td, li')).index();
                var data = table.row(tr.row).data();
                {#console.log(data);#}
                $('input[name="referencia"]').val(data.referencia);
                $('input[name="descripcion"]').val(data.denominacion);
                $('input[name="tarifa"]').val(data.pvp);
                $('input[name="multiplo"]').val(data.multiplo);
                $('input[name="panier"]').val(data.panier);
                $('input[name="codigoFuncion"]').val(data.funcion);
                $('select[name="codigoApro"]').val(data.codigoDescuento.id).change();
                $('select[name="codigoUrgte"]').val(data.codUrgencia.id).change();
                $('select[name="familia"]').val(data.familia.id).change();
                $('select[name="familiaMarketing"]').val(data.familiaMarketing.id).change();
                $('select[name="codAproPieza"]').val(data.codAproPieza.id).change();
                $('#tarifaModal').modal('hide');
            });
            $('.btnTasas').on('click', function () {
                var codcont = $('input[name="codigoContable"]').val().substring(0, 2);
                {#console.log(codcont)#}
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action2': 'inittasa',
                        'tipo_': 'formtasa',
                        'codigoContable': codcont,
                    },
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    dataType: 'json',
                }).done(function (data) {
                    {#console.log(data)#}
                    if (data.hasOwnProperty('error')) {
                        senderror(data.error)
                    } else {
                        console.log(data)
                        $('input[name="denominacion"]').val(data.denominacion);
                        $('input[name="precio"]').val(data.precio);
                        $('input[name="descuento"]').val(data.descuento);
                        $('input[name="precio"]').prop('readonly', true);
                        $('input[name="descuento"]').prop('readonly', true);
                        // Si bo hay Tasa creada deshabilitamos el botón de Borrar
                        if (data.nuevo) {
                            $('#id_borrarTasa').attr('disabled','disabled');
                        }
                        // Según el código contable deshabilitamos el combobox que no corresponde
                        if (codcont === '02') {
                            // Inicializamos a 0 el índice del combobox para no mantener lo anterior
                            $('select[name="codigoTasa"]').prop("selectedIndex", 0);
                            $('select[name="codigoTasa"]').prop("required", true);
                            $('#id_tasaNeumatico').parents('.form-group').hide();
                        } else {
                            // Código contable '03'
                            // Inicializamos a 0 el índice del combobox para no mantener lo anterior
                            $('select[name="tasaNeumatico"]').prop("selectedIndex", 0);
                            $('select[name="tasaNeumatico"]').prop("required", true);
                            $('#id_descuento').parents('.form-group').hide();
                            $('#id_codigoTasa').parents('.form-group').hide();
                        }

                        $('#tasaModal').modal('show');
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    {#alert(textStatus + ': ' + errorThrown);#}
                }).always(function (data) {
                });
            });
            $('#id_codigoTasa').on('change', function (e) {
                var codigotasa = $( "#id_codigoTasa option:selected" ).text();
                {#console.log(codigotasa)#}
                var denominacion = codigotasa.substring(0, codigotasa.indexOf('- PVP:'));
                var precio = codigotasa.substring(codigotasa.indexOf('- PVP:')+7, codigotasa.indexOf('- Dto:')-1);
                precio = parseFloat(precio);
                var descuento = codigotasa.substring(codigotasa.indexOf('- Dto:')+7);
                $('input[name="precio"]').prop('readonly', false);
                if (descuento !== "") {
                    descuento = parseFloat(descuento)
                    $('input[name="descuento"]').prop('readonly', false)
                } else {
                    $('input[name="descuento"]').prop('readonly', true)
                }
                $('input[name="denominacion"]').val(denominacion).change();
                $('input[name="precio"]').val(precio).change();
                $('input[name="descuento"]').val(descuento).change();
            });
            $('#id_tasaNeumatico').on('change', function (e) {
                var tasaNeumatico = $( "#id_tasaNeumatico option:selected" ).text();
                console.log(tasaNeumatico)
                var precio = tasaNeumatico.substring(tasaNeumatico.indexOf('- PVP:')+7);
                precio = parseFloat(precio);
                $('input[name="precio"]').prop('readonly', false);
                $('input[name="precio"]').val(precio).change();
            });
            $('#idformmodal').on('submit', function (e) {
                e.preventDefault();
                var formtasa = $('#idformmodal');
                console.log(formtasa)
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action2': 'edittasa',
                        'tipo_': 'formtasa',
                        'denominacion': formtasa[0]['denominacion'].value,
                        'precio': formtasa[0]['precio'].value,
                        'descuento': formtasa[0]['descuento'].value,
                    },
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    dataType: 'json',
                }).done(function (data) {
                    window.location.reload();
                    if (data.hasOwnProperty('error')) {
                        senderror(data.error)
                    } else {
                        sendmessage('Tasa actualizada');
                        $('#tasaModal').modal('hide');
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                });
            });
            $('.btnBorrarTasa').on('click', function () {
                {#console.log('Borrar Tasa')#}
                Swal.fire({
                    title: 'Se va a borrar esta Tasa',
                    text: '¿Estás seguro?',
                    icon: 'warning',
                    backdrop: true,
                    footer: '<b>Srio</b>Web',
                    showCancelButton: true,
                    confirmButtonText: 'Borrar',
                    cancelButtonText: 'Cancelar',
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                }).then((result) => {
                    if (result.isConfirmed) {
                        console.log('Tasa borrada')
                        $.ajax({
                            url: window.location.pathname,
                            type: 'POST',
                            data: {
                                'action2': 'dltetasa',
                                'tipo_': 'formtasa',
                            },
                            headers: {
                                'X-CSRFToken': csrftoken
                            },
                            dataType: 'json',
                        }).done(function (data) {
                            window.location.reload();
                            if (data.hasOwnProperty('error')) {
                                senderror(data.error)
                            } else {
                                sendmessage('Tasa borrada');
                                $('#tasaModal').modal('hide');
                            }
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            alert(textStatus + ': ' + errorThrown);
                        }).always(function (data) {
                        });
                    }
                });
            });
        });
    </script>
    <script type="application/javascript">
        validar('{{ entity }}');
    </script>
{% endblock %}