{% extends 'form.html' %}
{% load widget_tweaks %}

{% block contentform %}
    <input type="hidden" name="tipo_form" value="formbase">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="{{ form.codigo.name }}">{{ form.codigo.label }}<span class="text-danger"> *</span></label>
                {{ form.codigo | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="{{ form.tipoCliente.name }}">{{ form.tipoCliente.label }}<span
                        class="text-danger"> *</span></label>
                {{ form.tipoCliente | add_class:'form-control' }}
            </div>
        </div>
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="{{ form.razonSocial.name }}">{{ form.razonSocial.label }}</label>
                        {{ form.razonSocial | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.cif.name }}">{{ form.cif.label }}</label>
                        {{ form.cif | add_class:'form-control' }}
                    </div>
                    <div class="form-group">
                        {% if form.confirm_cif.field.widget.input_type == 'hidden' %}
                            {{ form.confirm_cif | add_class:'form-control' }}
                        {% else %}
                        <div class="icheck-primary">
                            {{ form.confirm_cif | add_class:'form-control' }}
                            <label for="{{ form.confirm_cif.name }}">{{ form.confirm_cif.label }}</label>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.nombre.name }}">{{ form.nombre.label }}</label>
                        {{ form.nombre | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.apellido1.name }}">{{ form.apellido1.label }}</label>
                        {{ form.apellido1 | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.apellido2.name }}">{{ form.apellido2.label }}</label>
                        {{ form.apellido2 | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.direccion.name }}">{{ form.direccion.label }}</label>
                {{ form.direccion | add_class:'form-control' }}
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.codpostal.name }}">{{ form.codpostal.label }}</label>
                        {{ form.codpostal | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="{{ form.poblacion.name }}">{{ form.poblacion.label }}</label>
                        {{ form.poblacion | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="{{ form.provincia.name }}">{{ form.provincia.label }}</label>
                        {{ form.provincia | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.telefono.name }}">{{ form.telefono.label }}</label>
                        {{ form.telefono | add_class:'form-control'}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.tlfmovil.name }}">{{ form.tlfmovil.label }}</label>
                        {{ form.tlfmovil | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.fax.name }}">{{ form.fax.label }}</label>
                        {{ form.fax | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="{{ form.email.name }}">{{ form.email.label }}</label>
                        {{ form.email | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.fechaNacimiento.name }}">{{ form.fechaNacimiento.label }}</label>
                        <div class="input-group date" id="fnacimiento" data-target-input="nearest">
                            <div class="input-group-append" data-target="#fnacimiento" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                            {{ form.fechaNacimiento | add_class:'form-control' | add_class:'datetimepicker-input' | attr:'data-target:#fnacimiento' | attr:'data-inputmask-alias:datetime' | attr:'data-inputmask-inputformat:dd/mm/yyyy' | attr:'data-mask' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="form-group">
        <label for="{{ form.notas.name }}">{{ form.notas.label }}</label>
        {{ form.notas | add_class:'form-control' }}
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            {{ form.aplicarIva | add_class:'form-control' }}
                            <label for="{{ form.aplicarIva.name }}">{{ form.aplicarIva.label }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            {{ form.listarnetodto | add_class:'form-control' }}
                            <label for="{{ form.listarnetodto.name }}">{{ form.listarnetodto.label }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            {{ form.exentoMail | add_class:'form-control' }}
                            <label for="{{ form.exentoMail.name }}">{{ form.exentoMail.label }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            {{ form.bloquearCredito | add_class:'form-control' }}
                            <label for="{{ form.bloquearCredito.name }}">{{ form.bloquearCredito.label }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ form.dtopieza.name }}">{{ form.dtopieza.label }}</label>
                {{ form.dtopieza | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ form.ivaEpecial.name }}">{{ form.ivaEpecial.label }}</label>
                {{ form.ivaEpecial | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ form.fechaUltimaFactura.name }}">{{ form.fechaUltimaFactura.label }}</label>
                <div class="input-group date" id="fultfactura" data-target-input="nearest">
                    <div class="input-group-append" data-target="#fultfactura" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                    {{ form.fechaUltimaFactura | add_class:'form-control' | add_class:'datetimepicker-input' | attr:'data-target:#fnacimiento' | attr:'data-inputmask-alias:datetime' | attr:'data-inputmask-inputformat:dd/mm/yyyy' | attr:'data-mask' }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ form.dtomo.name }}">{{ form.dtomo.label }}</label>
                {{ form.dtomo | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ form.precioMo.name }}">{{ form.precioMo.label }}</label>
                {{ form.precioMo | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ form.dtoEpecial.name }}">{{ form.dtoEpecial.label }}</label>
                {{ form.dtoEpecial | add_class:'form-control' }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="{{ form.enviarSms.name }}">{{ form.enviarSms.label }}</label>
                {{ form.enviarSms | add_class:'form-control' }}
            </div>
        </div>
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.diaPagoDesde.name }}">{{ form.diaPagoDesde.label }}</label>
                        {{ form.diaPagoDesde | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.diaPagoHasta.name }}">{{ form.diaPagoHasta.label }}</label>
                        {{ form.diaPagoHasta | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.creditoDisponible.name }}">{{ form.creditoDisponible.label }}</label>
                        {{ form.creditoDisponible | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.formaDePago.name }}">{{ form.formaDePago.label }}</label>
                        {{ form.formaDePago | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.banco.name }}">{{ form.banco.label }}</label>
                        {{ form.banco | add_class:'form-control' }}
                    </div>
                </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.iban.name }}">{{ form.iban.label }}</label>
                        {{ form.iban | add_class:'form-control' | attr:'readonly' }}
                    </div>
                </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.dc.name }}">{{ form.dc.label }}</label>
                        {{ form.dc | add_class:'form-control' | attr:'readonly' }}
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.cuenta.name }}">{{ form.cuenta.label }}</label>
                        {{ form.cuenta | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            {{ form.ocultarCuenta | add_class:'form-control' }}
                            <label for="{{ form.ocultarCuenta.name }}">{{ form.ocultarCuenta.label }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            {{ form.emitirRecibos | add_class:'form-control' }}
                            <label for="{{ form.emitirRecibos.name }}">{{ form.emitirRecibos.label }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
{% endblock %}

{% block otrosbotones %}
    {% if action == 'edit' %}
    <button type="button" class="btn btn-info btn-flat btnLopd">
        <i class="fas fa-file-signature"></i> LOPD
    </button>
    {% endif %}
{% endblock %}

{% block jscript2 %}
    {% include 'clientes/cre_lopd.html' %}
    <script>
        $(function () {
            $('[data-mask]').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/aaaa' });
            $('#fnacimiento').datetimepicker({
                locale: 'es',
                format: 'L',
                autoClose: true
            });
            $('#fultfactura').datetimepicker({
                locale: 'es',
                format: 'L',
                autoClose: true
            });
            $('.btnLopd').on('click', function () {
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action2': 'initlopd',
                        'tipo_form': 'formlopd',
                    },
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    dataType: 'json',
                }).done(function (data) {
                    {#console.log(data)#}
                    if(data.hasOwnProperty('error')) {
                        senderror(data.error)
                    } else {
                        $('input[name="lopd1"]').prop('checked', data.lopd1);
                        $('input[name="lopd2"]').prop('checked', data.lopd2);
                        $('input[name="lopd3"]').prop('checked', data.lopd3);
                        $('input[name="lopdfirma"]').prop('checked', data.lopdfirma);
                        $('#lopdModal').modal('show');
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    {#alert(textStatus + ': ' + errorThrown);#}
                }).always(function (data) {
                });
            });
            $('#idformmodal').on('submit', function (e) {
                e.preventDefault();
                var formlopd = $('#idformmodal');
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action2': 'editlopd',
                        'tipo_form': 'formlopd',
                        'lopd1': formlopd[0]['lopd1'].checked,
                        'lopd2': formlopd[0]['lopd2'].checked,
                        'lopd3': formlopd[0]['lopd3'].checked,
                        'lopdfirma': formlopd[0]['lopdfirma'].checked,
                    },
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    dataType: 'json',
                }).done(function (data) {
                    {#window.location.reload();#}
                    if(data.hasOwnProperty('error')) {
                        senderror(data.error)
                    } else {
                        $('input[name="exentoMail"]').prop('checked', data.exentoMail);
                        sendmessage('Información LOPD actualizada');
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    {#alert(textStatus + ': ' + errorThrown);#}
                }).always(function (data) {
                });
                $('#lopdModal').modal('hide');
            });
        });
    </script>
    <script type="application/javascript">
        validar('Cliente');
    </script>
{% endblock %}