{% extends 'form.html' %}
{% load widget_tweaks %}

{% block contentform %}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="codigo">Código</label>
                <input type="text" name="codigo" class="form-control" readonly value="{{ object.codigo }}">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="tipoCliente">Tipo</label>
                <input type="text" name="tipoCliente" class="form-control" readonly value="{{ object.tipoCliente }}">
            </div>
        </div>
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="razonSocial">Razón Social</label>
                        <input type="text" name="razonSocial" class="form-control" readonly value="{{ object.razonSocial | default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="cif">CIF/NIF</label>
                        <input type="text" name="cif" class="form-control" readonly value="{{ object.cif | default_if_none:'' }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control" readonly value="{{ object.nombre | default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="apellido1">Apellido 1</label>
                        <input type="text" name="apellido1" class="form-control" readonly value="{{ object.apellido1 | default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="apellido2">Apellido 2</label>
                        <input type="text" name="apellido2" class="form-control" readonly value="{{ object.apellido2 | default_if_none:'' }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" name="direccion" class="form-control" readonly value="{{ object.direccion | default_if_none:'' }}">
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="codpostal">Código Postal</label>
                        <input type="text" name="codpostal" class="form-control" readonly value="{{ object.codpostal | default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="poblacion">Población</label>
                        <input type="text" name="poblacion" class="form-control" readonly value="{{ object.poblacion | default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="provincia">Provincia</label>
                        <input type="text" name="provincia" class="form-control" readonly value="{{ object.provincia | default_if_none:'' }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" name="telefono" class="form-control" readonly value="{{ object.telefono | default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="tlfmovil">Móvil</label>
                        <input type="text" name="tlfmovil" class="form-control" readonly value="{{ object.tlfmovil | default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fax">Fax</label>
                        <input type="text" name="fax" class="form-control" readonly value="{{ object.fax | default_if_none:'' }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="text" name="email" class="form-control" readonly value="{{ object.email | default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fechaNacimiento">Fecha Nacimiento</label>
                        <input type="text" name="fechaNacimiento" class="form-control" readonly value="{{ object.fechaNacimiento | date:"SHORT_DATE_FORMAT" | default_if_none:'' }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="form-group">
        <label for="notas">Nota</label>
        <textarea name="notas" cols="40" rows="4" class="form-control" readonly>{{ object.notas | default_if_none:'' }}</textarea>
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            <input type="checkbox" name="aplicarIva" class="form-control" readonly onclick="return false"
                                {% if object.aplicarIva %}
                                    checked
                                {% endif %}
                            >
                            <label for="aplicarIva">Aplicar IVA</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            <input type="checkbox" name="listarnetodto" class="form-control" readonly onclick="return false"
                                {% if object.listarnetodto %}
                                    checked
                                {% endif %}
                            >
                            <label for="listarnetodto">Listar Neto y Dto.</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            <input type="checkbox" name="exentoMail" class="form-control" readonly onclick="return false"
                                {% if object.exentoMail %}
                                    checked
                                {% endif %}
                            >
                            <label for="exentoMail">Exento Mail</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            <input type="checkbox" name="bloquearCredito" class="form-control" readonly onclick="return false"
                                {% if object.bloquearCredito %}
                                    checked
                                {% endif %}
                            >
                            <label for="bloquearCredito">Bloquear Crédito</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="dtopieza">Código Descuento Piezas</label>
                <input type="text" name="dtopieza" class="form-control" readonly value="{{ object.dtopieza | default_if_none:'' }}">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="ivaEpecial">IVA Especial</label>
                <input type="text" name="ivaEpecial" class="form-control" readonly value="{{ object.ivaEpecial | default_if_none:'' }}">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="fechaUltimaFactura">Fecha Última Factura</label>
                <input type="text" name="fechaUltimaFactura" class="form-control" readonly value="{{ object.fechaUltimaFactura | date:"SHORT_DATE_FORMAT" | default_if_none:'' }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="dtomo">Código Descuento M.O.</label>
                <input type="text" name="dtomo" class="form-control" readonly value="{{ object.dtomo }}">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="precioMo">Precio M.O.</label>
                <input type="text" name="precioMo" class="form-control" readonly value="{{ object.precioMo | default_if_none:'' }}">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="dtoEpecial">Descuento Especial</label>
                <input type="text" name="dtoEpecial" class="form-control" readonly value="{{ object.dtoEpecial | default_if_none:'' }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="enviarSms">Enviar SMS</label>
                <input type="text" name="enviarSms" class="form-control" readonly value="{{ object.get_enviarSms_display }}">
            </div>
        </div>
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="diaPagoDesde">Días Pago-De</label>
                        <input type="text" name="diaPagoDesde" class="form-control" readonly value="{{ object.diaPagoDesde }}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="diaPagoHasta">Días Pago-A</label>
                        <input type="text" name="diaPagoHasta" class="form-control" readonly value="{{ object.diaPagoHasta }}">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="creditoDisponible">Crédito</label>
                        <input type="text" name="creditoDisponible" class="form-control" readonly value="{{ object.creditoDisponible | default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="formaDePago">Forma de Pago</label>
                        <input type="text" name="formaDePago" class="form-control" readonly value="{{ object.formaDePago }}">
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-sm-4">
                    <div class="form-group">
                        <label for="banco">Banco</label>
                        <input type="text" name="banco" class="form-control" readonly value="{{ object.banco | default_if_none:'' }}">
                    </div>
                </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <label for="iban">IBAN</label>
                        <input type="text" name="iban" class="form-control" readonly value="{{ object.iban | default_if_none:'' }}">
                    </div>
                </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <label for="dc">DC</label>
                        <input type="text" name="dc" class="form-control" readonly value="{{ object.dc | default_if_none:'' }}">
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="form-group">
                        <label for="cuenta">Cuenta</label>
                        <input type="text" name="cuenta" class="form-control" readonly value="{{ object.cuenta | default_if_none:'' }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            <input type="checkbox" name="ocultarCuenta" class="form-control" readonly onclick="return false"
                                {% if object.ocultarCuenta %}
                                    checked
                                {% endif %}
                            >
                            <label for="ocultarCuenta">Ocultar Cuenta</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="icheck-primary ">
                            <input type="checkbox" name="emitirRecibos" class="form-control" readonly onclick="return false"
                                {% if object.emitirRecibos %}
                                    checked
                                {% endif %}
                            >
                            <label for="emitirRecibos">Recibos</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
{% endblock %}

{% block otrosbotones %}
    <button type="button" class="btn btn-info btn-flat" data-toggle="modal" data-target="#estadisticaModal">
{#        <i class="fas fa-info"></i> Estadística#}
        <i class="fas fa-chart-line"></i> Estadística
    </button>
    {% include 'clientes/det_estadistica.html' %}
    <button type="button" class="btn btn-info btn-flat" data-toggle="modal" data-target="#lopdModal">
        <i class="fas fa-file-signature"></i> LOPD
    </button>
    {% include 'clientes/det_lopd.html' %}
{% endblock %}

{% block jscript2 %}
{% endblock %}