{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th>Acciones</th>
        <th>Código</th>
        <th>Razón Social</th>
        <th>CIF/NIF</th>
        <th>Teléfono</th>
        <th>Móvil</th>
        <th>Población</th>
        <th>Provincia</th>
    </tr>
{% endblock %}

{% block columnsfoot %}
    <tr>
        <th>Acciones</th>
        <th>Código</th>
        <th>Razón Social</th>
        <th>CIF/NIF</th>
        <th>Teléfono</th>
        <th>Móvil</th>
        <th>Población</th>
        <th>Provincia</th>
    </tr>
{% endblock %}

{% block jscript2 %}
<script>
        var icolumns = [
            {"data": "id"},
            {"data": "codigo"},
            {"data": "razonSocial"},
            {"data": "cif"},
            {"data": "telefono"},
            {"data": "tlfmovil", "defaultContent": ""},
            {"data": "poblacion"},
            {"data": "provincia"},
        ]
        var ibuttons = '<a href="/sweb/clientes/edit/' + 'rowid' + '/" class="btn btn-light btn-xs"><i class="far fa-edit" title="Editar"></i></a> ';
        ibuttons += '<a href="/sweb/clientes/delete/' + 'rowid' + '/" class="btn btn-light btn-xs"><i class="far fa-trash-alt" title="Borrar"></i></a>';
        ibuttons += '<a href="/sweb/clientes/detail/' + 'rowid' + '/" class="btn btn-light btn-xs"><i class="fas fa-eye" title="Detalle"></i></a>';
        initdtables(icolumns, ibuttons)
</script>
{% endblock %}

<!-- Literal del botón para añdir registro
{% block masdatos %}
Añadir Cliente
{% endblock %}




