{% extends 'form.html' %}
{% load widget_tweaks %}

{% block contentform %}
    <div class="form-group">
        <label for="{{ form.codcontable.name }}">{{ form.codcontable.label }}<span
                class="text-danger"> *</span></label>
        {{ form.codcontable | add_class:'form-control' }}
    </div>
    <div class="form-group">
        <label for="{{ form.descripcion.name }}">{{ form.descripcion.label }}<span
                class="text-danger"> *</span></label>
        {{ form.descripcion | add_class:'form-control' }}
    </div>
    <div class="form-group">
        <label for="{{ form.precio.name }}">{{ form.precio.label }}<span
                class="text-danger"> *</span></label>
        {{ form.precio | add_class:'form-control' }}
    </div>
    <div class="form-group">
        <label for="{{ form.descuento.name }}">{{ form.descuento.label }}</label>
        {{ form.descuento | add_class:'form-control' }}
    </div>
{% endblock %}

{% block jscript2 %}
    <script type="application/javascript">
        validar('{{ entity }}');
    </script>
{% endblock %}
