{% extends 'form.html' %}

{% block javascript %}
    <script type="application/javascript">
        validar({
                codigo: {required: true},
                descripcion: {required: true},
                datocontable: {required: true},
            },
            {
                codigo: {required: "Introduzca un código"},
                descripcion: {required: "Introduzca una descripción"},
                datocontable: {required: "Introduzca un valor"},
            }
        );
    </script>
{% endblock %}