{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;"></th>
        <th scope="col" style="width: 10%;">Código</th>
        <th scope="col" style="width: 50%;">Descripción</th>
        <th scope="col" style="width: 15%;">Dato Contable</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for tcr in object_list %}
        <tr>
            <td>
                <a href="{% url 'sweb:tiposclienterec_edit' tcr.id %}" class="btn btn-light btn-xs">
                    <i class="far fa-edit" title="Editar"></i>
                </a>
                <a href="{% url 'sweb:tiposclienterec_delete' tcr.id %}" class="btn btn-light btn-xs">
                    <i class="far fa-trash-alt" title="Borrar"></i>
                </a>
            </td>
            <td>{{ tcr.codigo }}</td>
            <td>{{ tcr.descripcion }}</td>
            <td>{{ tcr.datocontable }}</td>
        </tr>
    {% endfor %}
{% endblock %}

<!-- Literal del botón para añdir registro
{% block masdatos %}
Añadir Tipo Cliente
{% endblock %}
