{% extends 'form.html' %}
{% load widget_tweaks %}

{% block contentform %}

    <div class="form-group ">
        <label for="documento">Nº Documento</label>
        <input type="text" name="documento" class="form-control" readonly value="{{ object.documento }}">
    </div>
    <div class="form-group">
        <label for="fechaMovimiento">Fecha</label>
        <input type="text" name="fechaMovimiento" class="form-control" readonly
               value="{{ object.fechaMovimiento | date:"SHORT_DATE_FORMAT" | default_if_none:'' }}">
    </div>
    <div class="form-group ">
        <label for="almacen">Almacén</label>
        <input type="text" name="almacen" class="form-control" readonly
               value="{{ object.get_almacen_display | default_if_none:'' }}">
    </div>
    <div class="form-group ">
        <label for="observaciones">Observaciones</label>
        <textarea name="observaciones" cols="40" rows="4" class="form-control" readonly>{{ object.observaciones | default_if_none:'' }}</textarea>
    </div>

    <div class="card card-light">
        <div class="card-header">
            <h6 class="card-title">Detalle Piezas</h6>
        </div>
        <div class="card-body">
            <table id="dtable-buttons" class="table table-bordered table-hover display nowrap">
                <thead>
                <tr>
                    <th>Referencia</th>
                    <th>Denominación</th>
                    <th>Stock</th>
                </tr>
                </thead>

            </table>
        </div>
        <div class="card-footer"></div>
    </div>
{% endblock %}

{% block otrosbotones %}
    {% if prev_pk %}
    <a class="btn btn-secondary" href="/sweb/{{ folder }}/detail/{{ prev_pk }}/" role="button"><i class="fas fa-angle-left"></i> Anterior</a>
    {% endif %}
    {% if next_pk %}
    <a class="btn btn-secondary" href="/sweb/{{ folder }}/detail/{{ next_pk }}/" role="button"><i class="fas fa-angle-right"></i> Siguiente</a>
    {% endif %}
{% endblock %}

{% block jscript2 %}
    <script type="text/javascript">
        var icolumns = [
            {"data": "referencia"},
            {"data": "descripcion"},
            {"data": "cantidad"},
        ]
        var ibuttons = '';  // No necesitamos ningún botón adicional ya que toda la info es visible
        var iorder = [[0, 'asc']];
        var extrabuttons = true;
        initdtableserver(icolumns, ibuttons, iorder, extrabuttons)
    </script>
{% endblock %}