
.bg-navy {
  background-color: #072146 !important;
}

.bg-navy,
.bg-navy > a {
  color: #fff !important;
}

.bg-navy.btn:hover {
  border-color: #59339d;
  color: #ececec;
}

.bg-navy.btn:not(:disabled):not(.disabled):active, .bg-navy.btn:not(:disabled):not(.disabled).active, .bg-navy.btn:active, .bg-navy.btn.active {
  background-color: #59339d !important;
  border-color: #533093;
  color: #fff;
}

.text-navy {
  color: #072146 !important;
}

.img-dash {
  max-width: 100%;
  height: auto;
  vertical-align: auto;
}

.bolded {
    font-weight: bold;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.login-footer {
    border-top: 1px solid;
    padding: 1rem;
}

