{% extends 'form.html' %}
{% load widget_tweaks %}

{% block contentform %}
    <input type="hidden" name="tipo_" value="formbase">
    <input type="hidden" name="action2" value="">
    <div class="form-group">
        <label for="{{ form.entradaAlmacen.name }}">{{ form.entradaAlmacen.label }}</label>
        {{ form.entradaAlmacen | add_class:'form-control' }}
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.referencia.name }}">{{ form.referencia.label }}</label>
                        {{ form.referencia | add_class:'form-control' | attr:'style="width: 100%;"' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.existencias.name }}">{{ form.existencias.label }}</label>
                        {{ form.existencias | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.ubicacion.name }}">{{ form.ubicacion.label }}</label>
                        {{ form.ubicacion | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codigoApro.name }}">{{ form.codigoApro.label }}</label>
                        {{ form.codigoApro | add_class:'form-control'}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codigoUrgte.name }}">{{ form.codigoUrgte.label }}</label>
                        {{ form.codigoUrgte | add_class:'form-control'}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.codigoObsoleto.name }}">{{ form.codigoObsoleto.label }}</label>
                        {{ form.codigoObsoleto | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.tarifa.name }}">{{ form.tarifa.label }}</label>
                        {{ form.tarifa | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.precioCoste.name }}">{{ form.precioCoste.label }}</label>
                        {{ form.precioCoste | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.precioCosteMedio.name }}">{{ form.precioCosteMedio.label }}</label>
                        {{ form.precioCosteMedio | add_class:'form-control'}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.pedidosPendientes.name }}">{{ form.pedidosPendientes.label }}</label>
                        {{ form.pedidosPendientes | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.reserva.name }}">{{ form.reserva.label }}</label>
                        {{ form.reserva | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="{{ form.familia.name }}">{{ form.familia.label }}</label>
                        {{ form.familia | add_class:'form-control'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="{{ form.cantidad.name }}">{{ form.cantidad.label }}</label>
                {{ form.cantidad | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="{{ form.precioCompra.name }}">{{ form.precioCompra.label }}</label>
                {{ form.precioCompra | add_class:'form-control'}}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="{{ form.descuento.name }}">{{ form.descuento.label }}</label>
                {{ form.descuento | add_class:'form-control'}}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="{{ form.importeCoste.name }}">{{ form.importeCoste.label }}</label>
                {{ form.importeCoste | add_class:'form-control'}}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="{{ form.albaran.name }}">{{ form.albaran.label }}</label>
                {{ form.albaran | add_class:'form-control'}}
            </div>
        </div>
    </div>
{% endblock %}

{% block jscript2 %}
    <script>
    $(function () {
        //Initialize Select2 Elements
        $('#id_entradaAlmacen').select2({
            theme: 'bootstrap4',
            language: 'es',
            minimumInputLength: 1,
            ajax: {
                url: window.location.pathname,
                dataType: 'json',
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: function (params) {
                    var query = {
                        'term': params.term,
                        'action2': 'select2',
                        'tipo_': 'formbase',
                        'field': 'entradaAlmacen',
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.text};
                        })
                    };
                },
             }
        });
        $('#id_referencia').select2({
            theme: 'bootstrap4',
            language: 'es',
            placeholder: 'Seleccione una referencia',
            minimumInputLength: 1,
            allowClear: true,
            ajax: {
                url: window.location.pathname,
                dataType: 'json',
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: function (params) {
                    var query = {
                        'term': params.term,
                        'action2': 'select2',
                        'tipo_': 'formbase',
                        'field': 'referencia',
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.text};
                        })
                    };
                },
             }
        });
        $('#id_referencia').on('select2:select', function (e) {
            var data = e.params.data;
            {#console.log(data);#}
            var refid = data.id
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action2': 'referdata',
                    'tipo_': 'formbase',
                    'refid': refid,
                },
                headers: {
                    'X-CSRFToken': csrftoken
                },
                dataType: 'json',
            }).done(function (data) {
                if (data.hasOwnProperty('error')) {
                    senderror(data.error)
                } else {
                    {#console.log(data)#}
                    // Recuperamos el % descuento del literal con formato 'cod - cod - dto%'
                    var arrdto = data.codigoApro.split('-');
                    var dto = arrdto[2].substring(1, arrdto[2].length-1)
                    {#console.log(dto)#}
                    $('input[name="existencias"]').val(data.existencias).change();
                    $('input[name="ubicacion"]').val(data.ubicacion).change();
                    $('input[name="codigoApro"]').val(data.codigoApro).change();
                    $('input[name="codigoUrgte"]').val(data.codigoUrgte).change();
                    $('input[name="codigoObsoleto"]').val(data.codigoObsoleto).change();
                    $('input[name="tarifa"]').val(data.tarifa).change();
                    $('input[name="precioCoste"]').val(data.precioCoste).change();
                    $('input[name="precioCosteMedio"]').val(data.precioCosteMedio).change();
                    $('input[name="pedidosPendientes"]').val(data.pedidosPendientes).change();
                    $('input[name="reserva"]').val(data.reserva).change();
                    $('input[name="familia"]').val(data.familia).change();
                    $('input[name="precioCompra"]').val(data.tarifa).change();
                    $('input[name="descuento"]').val(dto).change();
                    {#console.log(data.sustituida)#}
                    if (data.sustituida) {
                        $('select[name="referencia"]').val(data.referencia.id).change();
                        sendmessage('Referencia sustituida')
                    }
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
            });
        });
        $('#btn_cancelar').on('click', function (e) {
            // si se pulsa cancelar en alta hay que comprobar si no hay más líneas creadas
            {#console.log('{{ action }}')#}
            var action = '{{ action }}';
            e.preventDefault()
            if (action === 'add') {
                {#console.log('add')#}
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action2': 'canceladd',
                        'tipo_': 'formbase',
                    },
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    dataType: 'json',
                }).done(function (data) {
                    if (data.hasOwnProperty('error')) {
                        senderror(data.error)
                    } else {
                        {#console.log(data)#}
                        window.location.href = data.url
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                });
            } else {
                // si no es un alta seguimos con el Cancelar
                {#alert('{{ list_url }}')#}
                window.location.href = '{{ list_url }}'
            }
        });
    });
</script>
    <script type="application/javascript">
        validar('{{ entity }}');
    </script>
{% endblock %}
