{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th>Acciones</th>
        <th>Código</th>
        <th>Descripción</th>
        <th>Efectivo Marca</th>
    </tr>
{% endblock %}

{% block columnsfoot %}
    <tr>
        <th>Acciones</th>
        <th>Código</th>
        <th>Descripción</th>
        <th>Efectivo Marca</th>
    </tr>
{% endblock %}

{% block botones %}
    <a href="{{ add_url }}" class="btn btn-primary btn-flat">
        <i class="fas fa-plus"></i> Añadir {{ entity }}
    </a>
{% endblock %}

{% block jscript2 %}
<script>
        var icolumns = [
            {"data": "id"},
            {"data": "codigo"},
            {"data": "descripcion"},
            {"data": "efectMarca"},
        ]
        var ibuttons = '<a href="/sweb/{{ folder }}/edit/' + 'rowid' + '/" class="btn btn-light btn-xs"><i class="far fa-edit" title="Editar"></i></a> ';
        ibuttons += '<a href="/sweb/{{ folder }}/delete/' + 'rowid' + '/" class="btn btn-light btn-xs"><i class="far fa-trash-alt" title="Borrar"></i></a>';
        var iorder = [[1, 'asc']];
        initdtables(icolumns, ibuttons, iorder)
</script>
{% endblock %}


