{% extends 'form.html' %}
{% load widget_tweaks %}

{% block content %}
    <form method="post" action="." id="idform" enctype="multipart/form-data">
        <!-- enctype="multipart/form-data" es necesario para gestionar campos tipo fichero -->
        <div class="card card-primary">
            {% include 'tituloform.html' %}

            <div class="card-body">
                {% csrf_token %}
                {% include 'errorform.html' %}

                <div class="">
                    <div class="form-row p-2 justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="px-3" for="{{ form.codigo.name }}">{{ form.codigo.label }}<span
                                    class="text-danger"> *</span></label>
                            {{ form.codigo | add_class:'form-control' }}
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="px-3" for="{{ form.sucursal.name }}">{{ form.sucursal.label }}<span
                                    class="text-danger"> *</span></label>
                            {{ form.sucursal | add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="form-group form-row col-sm-12 p-2 flex-column d-flex">
                        <label class="px-3" for="{{ form.razonsocial.name }}">{{ form.razonsocial.label }}<span
                                class="text-danger"> *</span></label>
                        {{ form.razonsocial | add_class:'form-control' }}
                    </div>
                    <div class="p-2"></div>
                    <div class="card p-2">
                        <h6 class="text-left px-3 mb-2 text-dark text-bold">Dirección</h6>
                        <div class="form-row p-2 justify-content-between text-left">
                            <div class="form-group col-sm-3 col-md-2 flex-column d-flex">
                                <label class="px-3" for="{{ form.tipovia.name }}">{{ form.tipovia.label }}<span
                                        class="text-danger"> *</span></label>
                                {{ form.tipovia | add_class:'form-control' }}
                            </div>
                            <div class="form-group col-sm-6 col-md-8 flex-column d-flex">
                                <label class="px-3" for="{{ form.nomvia.name }}">{{ form.nomvia.label }}<span
                                        class="text-danger"> *</span></label>
                                {{ form.nomvia | add_class:'form-control' }}
                            </div>
                            <div class="form-group col-sm-3 col-md-2 flex-column d-flex">
                                <label class="px-3" for="{{ form.numvia.name }}">{{ form.numvia.label }}<span
                                        class="text-danger"> *</span></label>
                                {{ form.numvia | add_class:'form-control' }}
                            </div>
                        </div>
                        <div class="form-row p-2 justify-content-between text-left">
                            <div class="form-group col-sm-4 flex-column d-flex">
                                <label class="px-3" for="{{ form.codpostal.name }}">{{ form.codpostal.label }}<span
                                        class="text-danger"> *</span></label>
                                {{ form.codpostal | add_class:'form-control' }}
                            </div>
                            <div class="form-group col-sm-8 flex-column d-flex">
                                <label class="px-3" for="{{ form.municipio.name }}">{{ form.municipio.label }}<span
                                        class="text-danger"> *</span></label>
                                {{ form.municipio | add_class:'form-control' }}
                            </div>
                        </div>
                        <div class="form-row p-2 justify-content-between text-left">
                            <div class="form-group col-sm-12 flex-column d-flex">
                                <label class="px-3" for="{{ form.provincia.name }}">{{ form.provincia.label }}<span
                                        class="text-danger"> *</span></label>
                                {{ form.provincia | add_class:'form-control' }}
                            </div>
                        </div>
                    </div>

                    <div class="form-row p-2 justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="px-3" for="{{ form.telefono.name }}">{{ form.telefono.label }}</label>
                            {{ form.telefono | add_class:'form-control' }}
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="px-3" for="{{ form.telex.name }}">{{ form.telex.label }}</label>
                            {{ form.telex | add_class:'form-control' }}
                        </div>
                    </div>

                    <div class="form-row p-2 justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="px-3" for="{{ form.extension.name }}">{{ form.extension.label }}</label>
                            {{ form.extension | add_class:'form-control' }}
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="px-3" for="{{ form.telperso.name }}">{{ form.telperso.label }}</label>
                            {{ form.telperso | add_class:'form-control' }}
                        </div>
                    </div>

                    <div class="form-row p-2 justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label class="px-3" for="{{ form.contacto.name }}">{{ form.contacto.label }}</label>
                            {{ form.contacto | add_class:'form-control' }}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'botonform.html' %}
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        validar('Banco');
    </script>
{% endblock %}