{% extends 'form.html' %}
{% load widget_tweaks %}

{% block contentform %}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="{{ form.codigo.name }}">{{ form.codigo.label }}<span class="text-danger"> *</span></label>
                {{ form.codigo | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="{{ form.sucursal.name }}">{{ form.sucursal.label }}<span
                        class="text-danger"> *</span></label>
                {{ form.sucursal | add_class:'form-control' }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.razonsocial.name }}">{{ form.razonsocial.label }}<span
                class="text-danger"> *</span></label>
        {{ form.razonsocial | add_class:'form-control' }}
    </div>
    <div class="card card-light">
        <div class="card-header">
            <h6 class="card-title">Dirección</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.tipovia.name }}">{{ form.tipovia.label }}<span
                                class="text-danger"> *</span></label>
                        {{ form.tipovia | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="{{ form.nomvia.name }}">{{ form.nomvia.label }}<span
                                class="text-danger"> *</span></label>
                        {{ form.nomvia | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.numvia.name }}">{{ form.numvia.label }}<span
                                class="text-danger"> *</span></label>
                        {{ form.numvia | add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.codpostal.name }}">{{ form.codpostal.label }}<span
                                class="text-danger"> *</span></label>
                        {{ form.codpostal | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="{{ form.municipio.name }}">{{ form.municipio.label }}<span
                                class="text-danger"> *</span></label>
                        {{ form.municipio | add_class:'form-control' }}
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="{{ form.provincia.name }}">{{ form.provincia.label }}<span
                                class="text-danger"> *</span></label>
                        {{ form.provincia | add_class:'form-control' }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="{{ form.telefono.name }}">{{ form.telefono.label }}</label>
                {{ form.telefono | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="{{ form.telex.name }}">{{ form.telex.label }}</label>
                {{ form.telex | add_class:'form-control' }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="{{ form.extension.name }}">{{ form.extension.label }}</label>
                {{ form.extension | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="{{ form.telperso.name }}">{{ form.telperso.label }}</label>
                {{ form.telperso | add_class:'form-control' }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.contacto.name }}">{{ form.contacto.label }}</label>
        {{ form.contacto | add_class:'form-control' }}
    </div>
{% endblock %}

{% block jscript2 %}
    <script type="application/javascript">
        validar('{{ entity }}');
    </script>
{% endblock %}