{% extends 'delete.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
{% endblock %}

{% block content %}
    <form method="post" action="." id="idform">
        <div class="card card-primary">
            {% include 'tituloform.html' %}

            <div class="card-body">
                {% csrf_token %}
                {% include 'errorform.html' %}

                <div class="callout callout-danger text-danger">
{#                <div class="alert alert-danger alert-dismissible">#}
                    <h6><i class="icon fas fa-ban"></i></h6>
                    <p>Se va a borrar el registro: ¿Estás seguro?</p>
                </div>

                <div>
                    <div class="form-row p-1 justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label for="codigo">Código Banco</label>
                            <input type="text" name="codigo" class="form-control" readonly value="{{ object.codigo }}">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label for="sucursal">Código Sucursal</label>
                            <input type="text" name="sucursal" class="form-control" readonly value="{{ object.sucursal }}">
                        </div>
                    </div>
                    <div class="form-group p-1 form-row col-sm-12 flex-column d-flex">
                        <label for="razonsocial">Razón Social</label>
                        <input type="text" name="razonsocial" class="form-control" readonly value="{{ object.razonsocial }}">
                    </div>
                    <div class="p-1"></div>
                    <div class="card p-1">
                        <h6 class="text-left px-1 mb-2 text-dark text-bold">Dirección</h6>
                        <div class="form-row p-1 justify-content-between text-left">
                            <div class="form-group col-sm-3 col-md-2 flex-column d-flex">
                                <label for="tipovia">Tipo Vía</label>
                                <input type="text" name="tipovia" class="form-control" readonly value="{{ object.tipovia }}">
                            </div>
                            <div class="form-group col-sm-6 col-md-8 flex-column d-flex">
                                <label for="nomvia">Nombre</label>
                                <input type="text" name="nomvia" class="form-control" readonly value="{{ object.nomvia }}">
                            </div>
                            <div class="form-group col-sm-3 col-md-2 flex-column d-flex">
                                <label for="numvia">Número</label>
                                <input type="text" name="numvia" class="form-control" readonly value="{{ object.numvia }}">
                            </div>
                        </div>
                        <div class="form-row p-1 justify-content-between text-left">
                            <div class="form-group col-sm-4 flex-column d-flex">
                                <label for="codpostal">Código Postal</label>
                                <input type="text" name="codpostal" class="form-control" readonly value="{{ object.codpostal }}">
                            </div>
                            <div class="form-group col-sm-8 flex-column d-flex">
                                <label for="municipio">Población</label>
                                <input type="text" name="municipio" class="form-control" readonly value="{{ object.municipio }}">
                            </div>
                        </div>
                        <div class="form-row p-1 justify-content-between text-left">
                            <div class="form-group col-sm-12 flex-column d-flex">
                                <label for="provincia">Provincia</label>
                                <input type="text" name="provincia" class="form-control" readonly value="{{ object.provincia }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-row p-1 justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label for="telefono">Teléfono</label>
                            <input type="text" name="telefono" class="form-control" readonly value="{{ object.telefono }}">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label for="telex">Telex</label>
                            <input type="text" name="telex" class="form-control" readonly value="{{ object.telex }}">
                        </div>
                    </div>
                    <div class="form-row p-1 justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label for="extension">Ext. Teléfono</label>
                            <input type="text" name="extension" class="form-control" readonly value="{{ object.extension }}">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label for="telperso">Teléfono Personal</label>
                            <input type="text" name="telperso" class="form-control" readonly value="{{ object.telperso }}">
                        </div>
                    </div>
                    <div class="form-row p-1 justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label for="contacto">Contacto</label>
                            <input type="text" name="contacto" class="form-control" readonly value="{{ object.contacto }}">
                        </div>
                    </div>
                </div>
            </div>

            {% include 'botonform.html' %}
        </div>
    </form>
{% endblock %}

{% block javascript %}
{% endblock %}
