{#Separamos errores de mensajes#}
{% if form.errors  %}
    <div class="callout callout-danger">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if messages %}
    {% for msg in messages %}
        {% if msg.level == 40 %}
            <div class="callout callout-danger">
                <ul>
                    <li>{{ msg }}</li>
                </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}