{#{% if form.errors or messages %}#}
{% if form.errors  %}
    <div class="callout callout-danger">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
{#            {% for msg in messages %}#}
{#                <li>{{ msg }}</li>#}
{#            {% endfor %}#}
        </ul>
    </div>
{% endif %}
