{% if form.errors %}
    <div class="callout callout-danger">
{#        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>#}
{#        <h6><i class="icon fas fa-ban"></i></h6>#}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}