{% load static %}

<!-- Main Footer -->
<footer class="main-footer bg-dark">
    <div class="float-right d-none d-sm-block">
        <a href="https://es-es.facebook.com/SiragInformatica/" target="_blank"
           class="text-white mr-4 text-decoration-none">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/siraginf" target="_blank" class="text-white mr-4 text-decoration-none">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://es.linkedin.com/company/sirag-inform-tica" target="_blank"
           class="text-white text-decoration-none">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
        <small>&copy; 2022 <a class="text-white" href="http://http:/esirag.com/index.html"> Sirag Informática</a>.Todos
            los derechos reservados</small>
    </div>
    <!-- Copyright -->
</footer>


