{% load static %}
<!-- Main Footer -->
{#<footer class="main-footer">#}
{#    <strong>Copyright &copy; 2021-2022#}
{#        <a href="http://http:/esirag.com/index.html">#}
{#            <img src="{% static 'img/Logo50.png' %}" alt="Sirag Logo" class="brand-image" style="opacity: .8">#}
{#        </a>#}
{#        Sirag Informática#}
{#    </strong><br>#}
{#    Todos los derechos reservados#}
{#</footer>#}

<footer class="main-footer">
    <strong>Copyright © 2021-2022 <a href="http://http:/esirag.com/index.html">Sirag Informática</a>.</strong>
    Todos los derechos reservados.
    <div class="float-right d-none d-sm-inline-block">
        <b>SirioWeb</b> 1.0
    </div>
</footer>