{% load static %}
<!-- Main Footer -->
<footer class="main-footer bg-dark">
    <a href="#" class="brand-link m-0 p-0">
        <img src="{% static 'img/sirag.png' %}"
             alt="Sirag Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light"><b>Sirio</b>Web <small>1.0</small></span>
    </a>
    <div class="container-fluid text-md-left text-sm-left mt-2">
        <div class="row mt-3">
            <div class="col-lg-6 col-sm-6">
{#                <h4 class="">Contacta con nosotros</h4>#}
                <p>
                    <a class="text-white" href="mailto:admin@esirag.com">
                        <i class="fas fa-envelope mr-2"></i> admin@esirag.com
                    </a>
                </p>
                <p>
                    <a class="text-white" href="tel:+34915339154">
                        <i class="fas fa-phone-alt mr-2"></i> (+34) 915 339 154
                    </a>
                </p>
            </div>
            <div class="col-lg-6 col-sm-6 text-md-right text-sm-right">
                <p></p>
                <a class="mr-3 text-white" href="https://twitter.com/siraginf" target="_blank"><i
                        class="fab fa-twitter"></i></a>
                <a class="mr-3 text-white" href="https://es-es.facebook.com/SiragInformatica/" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a class="mr-3 text-white" href="https://es.linkedin.com/company/sirag-inform-tica" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="text-center py-3">© 2021-2022
        <a class="text-white" href="http://http:/esirag.com/index.html"> Sirag Informática</a>
    </div>
{#    <div class="row p-1 ">#}
{#        <div class="col-md-7 col-10">© 2021-2022#}
{#            <a class="m-md-1 text-white" href="http://http:/esirag.com/index.html"> Sirag Informática</a>#}
{#            <a class="m-md-4 text-white" href="mailto:admin@esirag.com">#}
{#                <i class="fas fa-envelope"></i> Contactar#}
{#            </a>#}
{#            <a class="m-md-2 text-white" href="#">#}
{#                <i class="fas fa-phone-alt"></i> (+34) 915 339 154#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-md-5 col-2 text-md-right">#}
{#            <a class="m-md-1 text-white" href="https://twitter.com/siraginf" target="_blank"><i class="fab fa-twitter"></i></a>#}
{#            <a class="m-md-1 text-white" href="https://es-es.facebook.com/SiragInformatica/" target="_blank"><i class="fab fa-facebook"></i></a>#}
{#            <a class="m-md-1 text-white" href="https://es.linkedin.com/company/sirag-inform-tica" target="_blank"><i class="fab fa-linkedin"></i></a>#}
{#        </div>#}
{#    </div>#}
</footer>
{#<footer class="main-footer bg-dark">#}
{#    <div class="row p-1 ">#}
{#        <div class="col-md-7 col-10">© 2021-2022#}
{#            <a class="m-md-1 text-white" href="http://http:/esirag.com/index.html"> Sirag Informática</a>#}
{#            <a class="m-md-4 text-white" href="mailto:admin@esirag.com">#}
{#                <i class="fas fa-envelope"></i> Contactar#}
{#            </a>#}
{#            <a class="m-md-2 text-white" href="#">#}
{#                <i class="fas fa-phone-alt"></i> (+34) 915 339 154#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-md-5 col-2 text-md-right">#}
{#            <a class="m-md-1 text-white" href="https://twitter.com/siraginf" target="_blank"><i class="fab fa-twitter"></i></a>#}
{#            <a class="m-md-1 text-white" href="https://es-es.facebook.com/SiragInformatica/" target="_blank"><i class="fab fa-facebook"></i></a>#}
{#            <a class="m-md-1 text-white" href="https://es.linkedin.com/company/sirag-inform-tica" target="_blank"><i class="fab fa-linkedin"></i></a>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
