{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <!-- jquery-validation -->
    <script type="text/javascript" src="{% static 'lib/jquery-validation-1.19.3/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/jquery-validation-1.19.3/additional-methods.min.js' %}"></script>
{% endblock %}

{% block content %}
    <form method="post" action="." id="idform" enctype="multipart/form-data">
    <!-- enctype="multipart/form-data" es necesario para gestionar campos tipo fichero -->
        <div class="card card-primary">

            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>

            <div class="card-body">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h6><i class="icon fas fa-ban"></i></h6>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.label }}">{{ field.label }}</label>
                        {{ field | add_class:'form-control' }}
                    </div>
                {% endfor %}
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar
                    {% block data %}

                    {% endblock %}
                </button>
                <a href="{{ list_url }}" class="btn btn-secondary btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}

{% endblock %}
