{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="{% static 'img/sirag.png' %}" alt="SirioWeb Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light"><b>Sirio</b>Web <small>1.0</small></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-header">
{#                    <a href="#" class="nav-link">#}
                        <i class="fas fa-cogs"></i> Recambios</li>
{#                    </a>#}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Ficheros
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Tablas
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'sweb:descuentosmo_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>002 Descuentos MO</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'sweb:tiposclienterec_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>003 Tipos Cliente Rec.</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'sweb:formasdepago_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>007 Formas de Pago</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'sweb:unidadesmedida_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>011 Unidades de Medida</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'sweb:familiapieza_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>014 Familias</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'sweb:codigosiva_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>015 Códigos IVA</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'sweb:codigocontable_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>016 Código Contable</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'sweb:codapropza_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>017 Códigos Apro. Piezas</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'sweb:marcas_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>019 Marcas</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'sweb:numeracionauto_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>025 Numeración Auto.</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'sweb:clientes_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Clientes / Proveedores</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header"><i class="fas fa-wrench"></i> Taller</li>
                <li class="nav-header"><i class="fas fa-file-invoice-dollar"></i> Facturas</li>
                <li class="nav-header"><i class="fas fa-receipt"></i> Recibos</li>
                <li class="nav-item">
                    <a href="{% url 'sweb:bancos_list' %}" class="nav-link">
                        <i class="fas fa-circle nav-icon"></i>
                        <p>Bancos</p>
                    </a>
                </li>
                <li class="nav-header"><i class="fas fa-chart-pie"></i> Estadística</li>
                <li class="nav-header"><i class="fas fa-boxes"></i> Inventario</li>
                <li class="nav-header"><i class="fas fa-cash-register"></i> Contabilidad</li>
                <li class="nav-header"><i class="fas fa-briefcase"></i> Otros</li>
{#                <li class="nav-item">#}
{#                    <a href="#" class="nav-link">#}
{#                        <i class="nav-icon fas fa-circle"></i>#}
{#                        <p>#}
{#                            Administrador#}
{#                            <i class="right fas fa-angle-left"></i>#}
{#                        </p>#}
{#                    </a>#}
{#                    <ul class="nav nav-treeview">#}
{#                        <li class="nav-item">#}
{#                            <a href="{% url 'sweb:administrador_importar' %}" class="nav-link">#}
{#                                <i class="far fa-circle nav-icon"></i>#}
{#                                <p>Importar Tablas VBSIR</p>#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
