{% extends 'form.html' %}
{% load widget_tweaks %}

{% block contentform %}
    <input type="hidden" name="tipo_" value="formbase">
    <input type="hidden" name="action2" value="">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="{{ form.codigo.name }}">{{ form.codigo.label }}<span
                            class="text-danger"> *</span></label>
                {{ form.codigo | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <label for="{{ form.nombre.name }}">{{ form.nombre.label }}<span
                            class="text-danger"> *</span></label>
                {{ form.nombre | add_class:'form-control' }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="{{ form.categoria.name }}">{{ form.categoria.label }}<span
                            class="text-danger"> *</span></label>
                {{ form.categoria | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="{{ form.actividad.name }}">{{ form.actividad.label }}</label>
                {{ form.actividad | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="{{ form.efectivoMarca.name }}">{{ form.efectivoMarca.label }}</label>
                {{ form.efectivoMarca | add_class:'form-control' }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="{{ form.costeHora.name }}">{{ form.costeHora.label }}</label>
                {{ form.costeHora | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="{{ form.costeHoraExtra.name }}">{{ form.costeHoraExtra.label }}</label>
                {{ form.costeHoraExtra | add_class:'form-control' }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="{{ form.potencialMes.name }}">{{ form.potencialMes.label }}</label>
                {{ form.potencialMes | add_class:'form-control' | attr:'readonly'}}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="{{ form.potencialAno.name }}">{{ form.potencialAno.label }}</label>
                {{ form.potencialAno | add_class:'form-control' | attr:'readonly'}}
            </div>
        </div>
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.horaEntrada1.name }}">{{ form.horaEntrada1.label }}</label>
                        <div class="input-group date" id="hent1" data-target-input="nearest">
                            <div class="input-group-append" data-target="#hent1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                            {{ form.horaEntrada1 | add_class:'form-control' | add_class:'datetimepicker-input' | attr:'data-target:#hent1' | attr:'data-inputmask-alias:datetime' | attr:'data-inputmask-inputformat:HH:MM' | attr:'data-mask' }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.horaSalida1.name }}">{{ form.horaSalida1.label }}</label>
                        <div class="input-group date" id="hsal1" data-target-input="nearest">
                            <div class="input-group-append" data-target="#hsal1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                            {{ form.horaSalida1 | add_class:'form-control' | add_class:'datetimepicker-input' | attr:'data-target:#hsal1' | attr:'data-inputmask-alias:datetime' | attr:'data-inputmask-inputformat:HH:MM' | attr:'data-mask' }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.horaEntrada2.name }}">{{ form.horaEntrada2.label }}</label>
                        <div class="input-group date" id="hent2" data-target-input="nearest">
                            <div class="input-group-append" data-target="#hent2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                            {{ form.horaEntrada2 | add_class:'form-control' | add_class:'datetimepicker-input' | attr:'data-target:#hent2' | attr:'data-inputmask-alias:datetime' | attr:'data-inputmask-inputformat:HH:MM' | attr:'data-mask' }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.horaSalida2.name }}">{{ form.horaSalida2.label }}</label>
                        <div class="input-group date" id="hsal2" data-target-input="nearest">
                            <div class="input-group-append" data-target="#hsal2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                            {{ form.horaSalida2 | add_class:'form-control' | add_class:'datetimepicker-input' | attr:'data-target:#hsal2' | attr:'data-inputmask-alias:datetime' | attr:'data-inputmask-inputformat:HH:MM' | attr:'data-mask' }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.horaEntradaEspecial.name }}">{{ form.horaEntradaEspecial.label }}</label>
                        <div class="input-group date" id="hente" data-target-input="nearest">
                            <div class="input-group-append" data-target="#hente" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                            {{ form.horaEntradaEspecial | add_class:'form-control' | add_class:'datetimepicker-input' | attr:'data-target:#hente' | attr:'data-inputmask-alias:datetime' | attr:'data-inputmask-inputformat:HH:MM' | attr:'data-mask' }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="{{ form.horaSalidaEspecial.name }}">{{ form.horaSalidaEspecial.label }}</label>
                        <div class="input-group date" id="hsale" data-target-input="nearest">
                            <div class="input-group-append" data-target="#hsale" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                            {{ form.horaSalidaEspecial | add_class:'form-control' | add_class:'datetimepicker-input' | attr:'data-target:#hsale' | attr:'data-inputmask-alias:datetime' | attr:'data-inputmask-inputformat:HH:MM' | attr:'data-mask' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <table id="dtoperario" class="display" style="width:100%">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">En Curso Invertido</th>
                    <th scope="col">Facturadas Invertido</th>
                    <th scope="col">Facturadas Baremo</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% if action == 'add' %}

                <tr>
                    <td>Horas Externas Mes</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>Horas Extra Mes</td>
                    <td>0,00</td>
                </tr>
                <tr>
                    <td>Horas Externas Año</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>Horas Extra Año</td>
                    <td>0,00</td>
                </tr>
                <tr>
                    <td>Horas Internas Mes</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>Absentismo Mes</td>
                    <td>0,00</td>
                </tr>
                <tr>
                    <td>Horas Internas Año</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>Absentismo Año</td>
                    <td>0,00</td>
                </tr>
                <tr>
                    <td>Horas Garantías Mes</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>Abs. Social Mes</td>
                    <td>0,00</td>
                </tr>
                <tr>
                    <td>Horas Garantías Año</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>Abs. Social Año</td>
                    <td>0,00</td>
                </tr>
                <tr>
                    <td>Improductivas Mes</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Improductivas Año</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td></td>
                    <td></td>
                </tr>

                {% else %}

                <tr>
                    <td>Horas Externas Mes</td>
                    <td>{{ object.hExtCurInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hExtFacInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hExtFacBaremoMes | default_if_none:'' }}</td>
                    <td>Horas Extra Mes</td>
                    <td>{{ object.horasExtraMes | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Horas Externas Año</td>
                    <td>{{ object.hExtCurInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hExtFacInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hExtFacBaremoAno | default_if_none:'' }}</td>
                    <td>Horas Extra Año</td>
                    <td>{{ object.horasExtraAno | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Horas Internas Mes</td>
                    <td>{{ object.hIntCurInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hIntFacInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hIntFacBaremoMes | default_if_none:'' }}</td>
                    <td>Absentismo Mes</td>
                    <td>{{ object.absentismoMes | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Horas Internas Año</td>
                    <td>{{ object.hIntCurInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hIntFacInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hIntFacBaremoAno | default_if_none:'' }}</td>
                    <td>Absentismo Año</td>
                    <td>{{ object.absentismoAno | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Horas Garantías Mes</td>
                    <td>{{ object.hGarCurInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hGarFacInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hGarFacBaremoMes | default_if_none:'' }}</td>
                    <td>Abs. Social Mes</td>
                    <td>{{ object.absentismoSocialMes | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Horas Garantías Año</td>
                    <td>{{ object.hGarCurInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hGarFacInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hGarFacBaremoAno | default_if_none:'' }}</td>
                    <td>Abs. Social Año</td>
                    <td>{{ object.absentismoSocialAno | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Improductivas Mes</td>
                    <td>{{ object.hImpCurInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hImpFacInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hImpFacBaremoMes | default_if_none:'' }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Improductivas Año</td>
                    <td>{{ object.hImpCurInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hImpFacInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hImpFacBaremoAno | default_if_none:'' }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
{% endblock %}

{% block otrosbotones %}
{% endblock %}

{% block jscript2 %}
    <script>
    $(function () {
        var table;
        $('[data-mask]').inputmask('HH:MM', {'placeholder': 'HH:MM'});
        $('#hent1').datetimepicker({
            locale: 'es',
            format: 'LT',
            autoClose: true,
        });
        $('#hsal1').datetimepicker({
            locale: 'es',
            format: 'LT',
            autoClose: true,
        });
        $('#hent2').datetimepicker({
            locale: 'es',
            format: 'LT',
            autoClose: true,
        });
        $('#hsal2').datetimepicker({
            locale: 'es',
            format: 'LT',
            autoClose: true,
        });
        $('#hente').datetimepicker({
            locale: 'es',
            format: 'LT',
            autoClose: true,
        });
        $('#hsale').datetimepicker({
            locale: 'es',
            format: 'LT',
            autoClose: true,
        });
    });
</script>
    <script>
        initdtableoper();
    </script>
    <script type="application/javascript">
        validar('{{ entity }}');
    </script>
{% endblock %}