{% extends 'form.html' %}
{% load widget_tweaks %}

{% block contentform %}
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="codigo">Código Operario</label>
                <input type="text" name="codigo" class="form-control" readonly value="{{ object.codigo |default_if_none:'' }}">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" readonly value="{{ object.nombre |default_if_none:'' }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="categoria">Categoría</label>
                <input type="text" name="categoria" class="form-control" readonly value="{{ object.categoria |default_if_none:'' }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="actividad">Actividad</label>
                <input type="text" name="actividad" class="form-control" readonly value="{{ object.actividad |default_if_none:'' }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="efectivoMarca">Efectivo Marca</label>
                <input type="text" name="efectivoMarca" class="form-control" readonly value="{{ object.efectivoMarca |default_if_none:'' }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="costeHora">Coste Hora</label>
                <input type="text" name="costeHora" class="form-control" readonly value="{{ object.costeHora |default_if_none:'' }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="costeHoraExtra">Coste Hora Extra</label>
                <input type="text" name="costeHoraExtra" class="form-control" readonly value="{{ object.costeHoraExtra |default_if_none:'' }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="potencialMes">Potencial Horas Mes</label>
                <input type="text" name="potencialMes" class="form-control" readonly value="{{ object.potencialMes |default_if_none:'' }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="potencialAno">Potencial Horas Año</label>
                <input type="text" name="potencialAno" class="form-control" readonly value="{{ object.potencialAno |default_if_none:'' }}">
            </div>
        </div>
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="horaEntrada1">Entrada Mañana</label>
                        <input type="text" name="horaEntrada1" class="form-control" readonly
                               value="{{ object.horaEntrada1 |default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="horaSalida1">Salida Mañana</label>
                        <input type="text" name="horaSalida1" class="form-control" readonly
                               value="{{ object.horaSalida1 |default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="horaEntrada2">Entrada Tarde</label>
                        <input type="text" name="horaEntrada2" class="form-control" readonly
                               value="{{ object.horaEntrada2 |default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="horaSalida2">Salida Tarde</label>
                        <input type="text" name="horaSalida2" class="form-control" readonly
                               value="{{ object.horaSalida2 |default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="horaEntradaEspecial">Entrada Especial</label>
                        <input type="text" name="horaEntradaEspecial" class="form-control" readonly
                               value="{{ object.horaEntradaEspecial |default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="horaSalidaEspecial">Salida Especial</label>
                        <input type="text" name="horaSalidaEspecial" class="form-control" readonly value="{{ object.horaSalidaEspecial |default_if_none:'' }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card card-light">
        <div class="card-header"></div>
        <div class="card-body">
            <table id="dtoperario" class="display" style="width:100%">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">En Curso Invertido</th>
                    <th scope="col">Facturadas Invertido</th>
                    <th scope="col">Facturadas Baremo</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Horas Externas Mes</td>
                    <td>{{ object.hExtCurInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hExtFacInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hExtFacBaremoMes | default_if_none:'' }}</td>
                    <td>Horas Extra Mes</td>
                    <td>{{ object.horasExtraMes | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Horas Externas Año</td>
                    <td>{{ object.hExtCurInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hExtFacInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hExtFacBaremoAno | default_if_none:'' }}</td>
                    <td>Horas Extra Año</td>
                    <td>{{ object.horasExtraAno | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Horas Internas Mes</td>
                    <td>{{ object.hIntCurInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hIntFacInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hIntFacBaremoMes | default_if_none:'' }}</td>
                    <td>Absentismo Mes</td>
                    <td>{{ object.absentismoMes | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Horas Internas Año</td>
                    <td>{{ object.hIntCurInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hIntFacInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hIntFacBaremoAno | default_if_none:'' }}</td>
                    <td>Absentismo Año</td>
                    <td>{{ object.absentismoAno | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Horas Garantías Mes</td>
                    <td>{{ object.hGarCurInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hGarFacInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hGarFacBaremoMes | default_if_none:'' }}</td>
                    <td>Abs. Social Mes</td>
                    <td>{{ object.absentismoSocialMes | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Horas Garantías Año</td>
                    <td>{{ object.hGarCurInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hGarFacInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hGarFacBaremoAno | default_if_none:'' }}</td>
                    <td>Abs. Social Año</td>
                    <td>{{ object.absentismoSocialAno | default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>Improductivas Mes</td>
                    <td>{{ object.hImpCurInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hImpFacInvertidoMes | default_if_none:'' }}</td>
                    <td>{{ object.hImpFacBaremoMes | default_if_none:'' }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Improductivas Año</td>
                    <td>{{ object.hImpCurInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hImpFacInvertidoAno | default_if_none:'' }}</td>
                    <td>{{ object.hImpFacBaremoAno | default_if_none:'' }}</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
{% endblock %}

{% block jscript2 %}
    <script>
        initdtableoper();
    </script>
    <script>
        confirmdelete();
    </script>
{% endblock %}